.dateRegister{
    text-wrap: nowrap;
}
.scrollable-container {
    max-height: 300px; 
    overflow-y: auto; 
  }
  
  .mat-elevation-z8 {
    margin-bottom: 20px; 
  }
  
  h3 {
    margin-top: 10px;
  }
  .titleTable{
    padding: 10px;
  }
  .disable{
    display: none;
  }
  .signature {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 280px;
  }
  
  .signature img {
    max-width: 280px; 
    max-height: 150px; 
    width: 100%; 
    display: block; 
  
  }