form{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.selectTypeInsertForm{
    text-align: center;
}

.matRadio {
    grid-column: 1 / span 2; 
    text-align: center;
}
.register{
    grid-column: 1 / span 2;  
    grid-row: 4;  
}

.actionsBox{
    grid-column: 1 / span 2;  
    grid-row: 5;  
    display: flex !important;
    justify-content: right !important;
    padding: 0 10px 10px 0;
}
.confirmBtn{
   
        padding: 15px;
        transition: 200ms ease;
        background: var(--main-color);
        color: var(--font-color) !important;
        cursor: pointer;
    }
   
.confirmBtn:hover{
        transition: 200ms ease;
        background: var(--accent);
    }
    .cancelBtn{
        padding: 15px;
        transition: 200ms ease;
        cursor: pointer;
    }
.cancelBtn:hover{
    color: #c70000;
}