

.tableMain {
  padding: 0 20px 0 20px;
}
th {
  font-size: 16px;
  font-weight: bold;
}
td {
  font-size: 14px;
  font-weight: 500;
}
.mdc-data-table__cell,.mdc-data-table__header-cell{
  padding: 0 2px 0 2px !important;
}
td,
th {
  font-family: "Inter", sans-serif;
}
.table {
  width: 100%;
}
.filter {
  width: 15%;
}
.chip {
  padding: 6px;
  margin: 0 5px 0 0;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.ativo {
  color: #0a580e;
  background: #4be75d;
}
.cellPhone{
  white-space: nowrap;
}
.desativo {
  color: #331212;
  background: #b00b1e;
}
.ChipBox{
  display: flex;
  gap: 5px;
  margin: 5px 0 5px 0;
  padding: 0 5px 0 5px;
  flex-wrap: wrap;
}
.chipEmployee{
  color: var(--font-color);
  background: var(--main-color);
}
.chipTrainer{
  color: var(--font-color);
  background: var(--main-color);
}
.chipAdmin{
  color: var(--font-color);
  background: var(--main-color);
}
.actionBox{
  display: flex;
  gap: 15px;
  margin: 5px 0 5px 0;
  padding: 0 5px 0 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1450px) {
  th {
    font-size: calc(17px * 0.80); 
  }

  td {
    font-size: calc(15px * 0.80); 
  }

  .chip {
    font-size: calc(14px * 0.80); 
  }
  .tableMain{
    padding: 0 10px 0 10px;
  }
  .mdc-data-table__cell,.mdc-data-table__header-cell{
    padding: 0 1px 0 1px !important;
  }
}

@media screen and (max-width: 1000px) {
  th {
    font-size: calc(17px * 0.65); 
  }

  td {
    font-size: calc(15px * 0.65); 
  }

  .chip {
    font-size: calc(14px * 0.65); 
  }
  .tableMain{
    padding: 0 6px 0 6px;
  }
 
}