<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="sidebarDiv">
      <img
        class="logoImg"
        src="../../../assets/image/logoEurofarma.png"
        alt="Logo da Eurofarma"
        draggable="false"
      />
      <nav class="navigation">
        <ul>
          <a class="titleLink" href="#">
            <li class="iconBox">
              <mat-icon class="sidebarIcon">assignment</mat-icon>Treinamentos
            </li></a
          >
          <a class="titleLink" href="#"
            ><li class="iconBox">
              <mat-icon class="sidebarIcon">person</mat-icon>Funcionários
            </li></a
          >
          <li>
            <h4 class="itenTitle">Chatbot Compliance</h4>
            <div class="itensBox">
              <a [routerLink]="['/dashboard/complianceAdicionar']" class="subMenu"
                ><mat-icon class="subMenuIcon">add_circle</mat-icon>Adicionar</a
              >
              <a href="#" class="subMenu"
                ><mat-icon class="subMenuIcon">description</mat-icon>Ver
                documentos</a
              >
            </div>
          </li>
          <li>
            <h4 class="itenTitle">ChatBot Eurofarma</h4>
            <div class="itensBox">
              <a [routerLink]="['/dashboard/eurodataAdicionar']" class="subMenu"
                ><mat-icon class="subMenuIcon">add_circle</mat-icon>Adicionar</a
              >
              <a href="#" class="subMenu"
                ><mat-icon class="subMenuIcon">description</mat-icon>Ver
                documentos</a
              >
            </div>
          </li>
        </ul>
      </nav>
      <button class="logoutBtn">Sair</button>
    </div>
  </mat-drawer>
  <div class="sidenav-content">
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
