
.filterBox{
    display: flex;
    justify-content: end;
    padding-right: 30px;
  }
  .tableMain {
    padding: 0 20px 0 20px;
  }
  th {
    font-size: 17px;
    font-weight: bold;
  }
  td {
    font-size: 15px;
    font-weight: 500;
  }
  td,
  th {
    font-family: "Inter", sans-serif;
  }
  .filter {
    width: 15%;
  }
.deleteButton{
  text-align: center;
  padding: 8px;
  border-radius: 100%;
  background: #d11a2a;
  border: none;
  color: white;
  cursor: pointer;
  transition: 150ms ease;
}
.deleteButton:hover{
 background: #000000;
}