.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.formMini{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5px;
}
.matRadio {
    grid-column: 1 / span 2; 
    text-align: center;
}
.register{
    grid-column: 1 / span 2;  
    grid-row: 2;  
}

.actionsBox{
    display: flex !important;
    justify-content: right !important;
    padding: 0 10px 10px 0;
}
.confirmBtn{
   
        padding: 15px;
        transition: 200ms ease;
        background: var(--main-color);
        color: var(--font-color) !important;
        cursor: pointer;
    }
   
.confirmBtn:hover{
        transition: 200ms ease;
        background: var(--accent);
    }
    .cancelBtn{
        padding: 15px;
        transition: 200ms ease;
        cursor: pointer;
    }
.cancelBtn:hover{
    color: #c70000;
}