<h2 class="title" mat-dialog-title>Filtrar Funcionários</h2>
<mat-dialog-content>
  <form [formGroup]="searchForm"  [classList]="getFormClass()">

    <mat-radio-group formControlName="filterType" color="primary" class="matRadio">
      <mat-radio-button value="criteria">Buscar</mat-radio-button>
      <mat-radio-button value="employeeRegistration">Buscar por RE do Funcionário</mat-radio-button>
    </mat-radio-group>

    @if(searchForm.get('filterType')?.value === 'criteria'){
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" placeholder="Nome">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Sobrenome</mat-label>
      <input matInput formControlName="surname" placeholder="Sobrenome">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ativo</mat-label>
      <mat-select formControlName="enabled">
        <mat-option [value]="true">Sim</mat-option>
        <mat-option [value]="false">Não</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="roleId">
        @for (role of roles; track role.id) {
          <mat-option [value]="role.id">{{ role.roleName }}</mat-option>
        } @empty {
          <mat-option [value]="null">Sem Cargo cadastrado</mat-option>
        }
      
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Permissão</mat-label>
      <mat-select formControlName="permissionId">
        @for (permission of permissions; track permission.id) {
          <mat-option [value]="permission.id">{{ permission.description }}</mat-option>
        } @empty {
          <mat-option [value]="null">Sem Permissão cadastrada</mat-option>
        }
    
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="departmentId">
        @for (department of departments; track department.id) {
          <mat-option [value]="department.id">{{ department.departName}}</mat-option>
        } @empty {
          <mat-option [value]="null">Sem departamento cadastrado</mat-option>
        }
       
      </mat-select>
    </mat-form-field>
  } @else{
    <mat-form-field appearance="fill">
      <mat-label>Registro de Funcionário</mat-label>
      <input matInput type="number" min="0" formControlName="employeeRegistration" placeholder="Registro">
    </mat-form-field>
  }
  </form>

  <mat-dialog-actions class="actionsBox">
    <button class="confirmBtn" mat-button [mat-dialog-close]="searchForm.value" cdkFocusInitial>Confirmar</button>
    <button class="cancelBtn" mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
  </mat-dialog-actions>