.topFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
}
.topFilter h1 {
  font-size: 45px;
  font-family: "Inter", sans-serif;
}
.actionsDiv {
  padding: 15px 40px 25px 0;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 30px;
  border-bottom: 2px solid #000000;
}
.actionsDiv button {
  padding: 20px 40px 20px 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  border: #284678 solid 4px;
  background: transparent;
  color: #284678;
  font-weight: bold;
  transition: 200ms ease-in-out;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}
.actionsDiv button:hover {
  border: #000000 solid 4px;
  color: #000000;
}
.tableMain {
  padding: 0 20px 0 20px;
}
th {
  font-size: 17px;
  font-weight: bold;
}
td {
  font-size: 15px;
  font-weight: 500;
}
td,
th {
  font-family: "Inter", sans-serif;
}
.demo-table {
  width: 100%;
}
::ng-deep .mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

::ng-deep .mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

::ng-deep .demo-row-is-clicked .mat-mdc-cell {
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.filter {
  width: 15%;
}
.chipStatus {
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.ativo {
  color: #0a580e;
  background: #4be75d;
}
.desativo {
  color: #331212;
  background: #b00b1e;
}
