.title{
    font-size: 23px;
}
.actionsBox{
    display: flex !important;
    justify-content: center !important;
}
.okBtn{
    padding: 15px;
    transition: 200ms ease;
    background: var(--main-color);
    color: var(--font-color) !important;
    cursor: pointer;
}
.okBtn:hover{
    transition: 200ms ease;
    background: var(--accent);
}